div {
    display: flex;
    flex-wrap: wrap;
}
.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    max-width: 800px;
    margin: auto;
    flex-direction: column;
    flex-wrap: nowrap;
}
input {
    font-size: 1em;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #666;
    display: inline-block;
    max-width: 95%;
}
input[type=submit] {
    background-color: white;
}

li {
    font-size: 1.5em;
}
li::before {
    content: '\00a0\00a0';
}
li::after {
    content: '\00a0\00a0';
}

.error {
    margin: 0 0 0 20px;
    color: #FF2222;
    visibility: hidden;
}
.active {
    box-shadow: 0 0 5px 3px skyblue;
}
.inactive {
    box-shadow: 0 0 1px 1px #666;
}

.pagination {
    margin-top: 10px;
}
.pagination > span {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    vertical-align: top;
}