div div {
    display: inline-block;
    background-color: cornflowerblue;
    min-height: 25px;
    min-width: 25px;
    height: 10vmin;
    width: 10vmin;
    margin: 20px;
}
body > div {
    border: 5px solid cornflowerblue;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    flex-wrap: wrap
}
#inner2 {
    background-color: coral;
}
#inner2 > div {
    background-color: rebeccapurple;
}
body {
    flex-direction: row;
    display: flex;
    flex-direction: column;
}